<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h2>Please sign up to create your order.</h2>      
  </div>   
</div>

<h2></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

 <br>
  <div class="container">
    <%= f.label :password %>
    <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <br> 
  <div class="container">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <%= hidden_field_tag "user[role]", "customer" %>

  <br>
  <div class="container">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
 <br>
 <div class="container">
  <%= render "devise/shared/links" %>
 </div>


</body>



</html>
