<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<%=form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>
  <%= f.fields_for :order_skus do |builder| %>
    <%= render "order_skus/form", :f => builder %>
  <% end %>
  </div>

  <form class="form-group" role="form">  


  <div class="form-group">
    <%= f.label :party_date %><br>
    <%= f.date_select :party_date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>


<% end %>
