<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<%=form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>


<div>
  <% @skus.each do |sku| %>

  <div class="form-group">
  <%= label_tag sku.name %>
  <%= check_box_tag :sku_id %>
  </div>

  
  <% end %>

  <form class="form-inline" role="form">  
  <div class="form-group">
    <%= f.label :total_price %><br>
    <%= f.number_field :total_price %>
  </div>

    <div class="form-group">
    <%= f.label :party_date %><br>
    <%= f.date_select :party_date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>


<% end %>
