<div class="container">
  <div class="jumbotron">    
    <h1>Orders</h1>     
  </div>

  <div class="btn-group inline">
  <div class="btn btn-info" role="button">
    <%= link_to 'New Order', new_order_path %>
  </div>
</div>


<table>
  <table class="table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Event Date</th>
            <th>Revenue</th>
            <th>See Order</th>
            <th>Fulfillment Status</th>
            <th>Edit Order</th>
            <th>Delete Order</th>
          </tr>
        </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.party_date %></td>
        <td><%= number_to_currency(order.skus.sum(:price)) %></td>
        <td><%= link_to 'Show', order_path(id: order.id) %></td>
        <td><% if order.fulfilled %>
            <%= "Fulfilled" %>
            <% else %>
            <%= "Not Started" %>
            <% end %></td>
          <% if !order.fulfilled %>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete %></td>
          <% else %>
          <td></td>
          <td></td>
          <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<div class="btn-group inline">
  <div class="btn btn-warning" role="button">
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  </div>
</div>

<% if current_user.role == "admin" %>
<div class="btn-group inline">
  <div class="btn btn-warning" role="button">
<%= link_to 'Skus', skus_path %>
  </div>
</div>
<% end %>


<% if current_user.role == "admin" %>
<div class="btn-group inline">
  <div class="btn btn-warning" role="button">
<%= link_to 'Send to API', new_expense_path %>
  </div>
</div>
<% end %>


</div>
<br>
