<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>


<div class="container">
  <div class="jumbotron">    
    <h1>Orders</h1>     
  </div>


<table>
  <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Party Date</th>
            <th>Total Price</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
          </tr>
        </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.party_date %></td>
        <td><%= order.total_price %></td>
        <td><%= link_to 'Show', order_path(id: order.id) %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="container">
  <div class="btn btn-info" role="button">
    <%= link_to 'New Order', new_order_path %>
  </div>
</div>


<% if current_user.role == "admin" %>
<div class="container">
  <div class="btn btn-warning" role="button">
<%= link_to 'Skus', skus_path %>
  </div>
</div>
<% end %>

<div class="container">
  <div class="btn btn-warning" role="button">
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  </div>
</div>


  <% if current_user.role == "admin" %>
  <div class="container">
    <div class="btn btn-warning" role="button">
      <%= link_to 'Send to API', new_expense_path %>
    </div>
  </div>
<% end %>


</div>

</body>

</html>