<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <div class="jumbotron">    
    <h1>Listing Orders</h1>     
  </div>

<div class="row">
    <div class="col-md-3">
      <p>User</p>
    </div>
    <div class="col-md-3"> 
      <p>Party Date</p>
    </div>
    <div class="col-md-3"> 
      <p>Total Price</p>
    </div>
</div>

</body>
</html>


<table>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.party_date %></td>
        <td><%= order.total_price %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Order', new_order_path %>


<% if current_user.role == "admin" %>
<%= link_to 'Skus', skus_path %>
<% end %>
<br> <br>
<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>



