<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= 'Order Confirmation' %> 
  <%= @order.user_id %>
</p>

<p>
  <strong>Party date:</strong>
  <%= @order.party_date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
