<p id="notice"><%= notice %></p>
<h1>Our profit on this order.... <%= @profit %></h1>
<p>

COGS <%= @cogs %>
Profits <%= @profit %>

  <strong>Party date:</strong>
  <%= @order.party_date %>
</p>
<br>
<p>
  <strong>All items:</strong>
  <% @order.order_skus.each do |os| %>
  	<%= os.sku.name %>
  	<%= os.price %> <br>
  <% end %>

  <p>
  <strong>Total Price:</strong>
  <%= @revenue %>

</p>
<br>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

