<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= 'Order Confirmation' %> 
  <%= @order.user_id %>
</p>

<p>
  <strong>Party date:</strong>
  <%= @order.party_date %>
</p>
<br>
<p>
  <strong>All items:</strong>

  <% @order.order_skus.each do |os| %>
  	<%= os.sku.name %>
  	<%= os.price %>
  <% end %>


</p>
<br>
<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
